package components

import "football-stat-goth/queries"

templ ClubFixture(fixtures []queries.ListMatchesWithClubsAndGoalsRow) {
	<div class="rounded-lg border border-primary">
		<h1 class="text-center font-bold p-2 bg-gradient-to-br from-secondary-foreground to-secondary-background text-primary-background rounded-t-lg">Fixtures</h1>
		for _, match := range fixtures {
			<div>{ match.HomeClubID } vs { match.AwayClubID }</div>
		}
	</div>
}
