package views

import (
	"football-stat-goth/views/components"
	"football-stat-goth/views/layouts"
)

templ Fantasy() {
    @layouts.Base() {
        @components.Nav()
        <main>
            <div class="width:40% margin-top:40px padding:5px 10px background-color:#17191F  border-radius:5px">
            </div>
        </main>
    }
}